<div class="container-fluid">
	<h2 align="center">Register a New Application</h2>
	<div class="form-wide" align="center">
		<div class="user-form">
			<%= simple_form_for [@user, @user.applications.new] do |f| %>
				<%= f.error_notification %>
				<%= f.input :name %>
				<%= f.input :url %>
				<%= f.error :url, id: 'url_uniqueness_error' %>
				<%= f.hint 'You must enter a unique url' %>
				<%= f.error :base %>
				<%= f.button :submit %>
			<% end %>
		</div>
	</div>
</div>